<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}


{% block title %}Contact{% endblock %}


{% block content %}


<div class="page">


   <h1>Contact Us</h1>


   <h2>Placement Prediction System</h2>


   <p>
       For questions, feedback or technical support,
       contact the project team.
   </p>


   <form>


       <label>Name</label>
       <input type="text" placeholder="Enter your name">


       <label>Email</label>
       <input type="email" placeholder="Enter your email">


       <label>Message</label>
       <textarea rows="6"
                 placeholder="Enter your message"></textarea>


       <button type="button">
           Submit
       </button>


   </form>


</div>


{% endblock %}

</body>
</html>