<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}


{% block title %}Dashboard{% endblock %}


{% block content %}


<div class="page">


   <h1>Placement Dashboard</h1>


   <div class="cards">


       <div class="card">
           <h3>Total Students</h3>
           <h2>--</h2>
       </div>


       <div class="card">
           <h3>Placed Students</h3>
           <h2>--</h2>
       </div>


       <div class="card">
           <h3>Not Placed</h3>
           <h2>--</h2>
       </div>


       <div class="card">
           <h3>Placement Percentage</h3>
           <h2>--%</h2>
       </div>


   </div>


   <h2>Placement Analytics</h2>


   <div class="chart-placeholder">
       Placement charts will appear here.
   </div>


</div>


{% endblock %}

</body>
</html>