<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}


{% block title %}ML Models{% endblock %}


{% block content %}


<div class="page">


   <h1>Machine Learning Models</h1>


   <table>


       <tr>
           <th>Model</th>
           <th>Accuracy</th>
           <th>Precision</th>
           <th>Recall</th>
           <th>F1 Score</th>
       </tr>


       <tr>
           <td>Logistic Regression</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
       </tr>


       <tr>
           <td>Decision Tree</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
       </tr>


       <tr>
           <td>Random Forest</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
       </tr>


       <tr>
           <td>KNN</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
       </tr>


   </table>


</div>


{% endblock %}

</body>
</html>