<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}


{% block title %}Reports{% endblock %}


{% block content %}


<div class="page">


   <h1>Placement Reports</h1>


   <div class="cards">


       <div class="card">
           <h3>Student Report</h3>
           <p>View student placement information.</p>
           <button>Generate Report</button>
       </div>


       <div class="card">
           <h3>Prediction Report</h3>
           <p>View placement prediction results.</p>
           <button>Generate Report</button>
       </div>


       <div class="card">
           <h3>Model Report</h3>
           <p>View machine learning model performance.</p>
           <button>Generate Report</button>
       </div>


       <div class="card">
           <h3>Dataset Report</h3>
           <p>View dataset and preprocessing information.</p>
           <button>Generate Report</button>
       </div>


   </div>


</div>


{% endblock %}

</body>
</html>