<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}


{% block title %}Visualization{% endblock %}


{% block content %}


<div class="page">


   <h1>Data Visualization</h1>


   <div class="cards">


       <div class="card">
           <h3>Placement Distribution</h3>
           <p>Placed vs Not Placed visualization.</p>
       </div>


       <div class="card">
           <h3>CGPA Analysis</h3>
           <p>CGPA and placement relationship.</p>
       </div>


       <div class="card">
           <h3>Department Analysis</h3>
           <p>Department-wise placement analysis.</p>
       </div>


       <div class="card">
           <h3>Correlation Matrix</h3>
           <p>Relationship between numerical features.</p>
       </div>


   </div>


</div>


{% endblock %}

</body>
</html>